.icons {
  padding: 10px 0 10px 0;
}

.body {
  .text {
    margin-left: 5px;
    user-select: none;
  }
}

.postIcon:hover {
  path {
    stroke: lightgray;
    stroke-width: 0.25px;
  }
}

.postIcon {
  path {
    stroke: black;
    stroke-width: 0.25px;
  }
}
