.skeleton {
  width: 100%;
  height: 50px;
  background: #e9e9e9;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    width: 70%;
    background: linear-gradient(
      to right,
      transparent 0%,
      #d8d8d8 50%,
      transparent 100%
    );
    animation: loadAnim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  }
}

@keyframes loadAnim {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
