.field {
  width: 100%;
  position: relative;

  &.active {
    .label {
      .placeholder {
        top: 0px;
        padding: 2px;
        font-size: 10px;
        background: var(--main-color-body);
      }
    }
    &.textAreaActive {
      .label {
        .placeholder {
          top: 0px;
        }
      }
    }
  }

  .error {
    font-size: 10px;
    color: var(--error);
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
  }

  &.textAreaActive {
    .label {
      .placeholder {
        top: 17px;
      }
    }
  }
  .label {
    border: 1px solid var(--border);
    width: 100%;
    border-radius: 3px;
    position: relative;
    display: flex;
    input,
    textarea {
      width: inherit;
      height: 34px;
      background: transparent;
      border-radius: inherit;
      padding: 0 10px;
      color: var(--inverted-main-color);
      resize: none;
      outline: none;
      border: none;
    }
    textarea {
      padding: 10px 10px;
      overflow: hidden;
      min-height: 150px;
    }
    .placeholder {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 12px;
      font-weight: 400;
      line-height: 11px;
      color: var(--text-color);
      transition: all 0.2s;
      pointer-events: none;
    }
  }

  &.errorField {
    .label {
      border: 1px solid var(--error);
      .placeholder {
        color: var(--error);
      }
    }
    .error {
      opacity: 1;
      visibility: visible;
      bottom: -12px;
      line-height: 10px;
    }
  }
}
